@layer global {
  * {
    --_color: var(--color, light-dark(var(--color-main), var(--color-light)));
    color: var(--_color);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    --_padding-block: var(--padding-block, 0.5lh);
    padding-block: var(--_padding-block);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code {
    --_color: var(--color, light-dark(lightsalmon, darkseagreen));
    --_bg: var(--bg, light-dark(beige, black));
    background: var(--_bg);
    padding: 0.5rem;
    display: inline-block;
    color: var(--_color);
    font-family: monospace;
    border: solid 3px var(--_color);
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  p {
    text-wrap: pretty;
  }
  a {
    text-decoration: underline;
  }
  .text-center {
    text-align: center;
  }
  .focus {
    --padding-block: 1lh;
    --color: light-dark(var(--color-light), var(--color-dark));

    --_background-color: var(
      --background-color,
      light-dark(var(--color-dark), var(--color-light))
    );

    background-color: var(--_background-color);
    font-size: clamp(2rem, 3vw, 2rem);
  }
  blockquote {
    font-style: italic;
    position: relative;
    &::before {
      content: open-quote;
      position: absolute;
      left: 0;
    }
  }
}
