@import "tailwindcss";

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

pre.astro-code{
  @apply p-8;
  code{
    @apply bg-transparent px-0 py-0 not-italic; 
  }
}
code:not([class]){
  @apply bg-gray-100 px-1 py-0.5 italic;
}
p:not([class]),a:not([class]){
  @apply text-gray-800 py-4;
  text-wrap: pretty;
}
h1:not([class]),h2:not([class]),h3:not([class]),h4:not([class]),h5:not([class]),h6:not([class]){
  @apply font-bold text-gray-900 pt-4;
  text-wrap: balance;
}
h1:not([class]){
  @apply text-4xl;
}
h2:not([class]){
  @apply text-3xl;
}
h3:not([class]){
  @apply text-2xl;
}
h4:not([class]){
  @apply text-xl;
}
h5:not([class]){
  @apply text-lg;
}
h6:not([class]){
  @apply text-base;
}
p:not([class]){
  @apply text-base py-4;
}
a{
  *:not([class]){
    @apply text-blue-600;
  }
}