---
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const { translatePath } = useTranslatedPath(lang)
---

<a
aria-label="Giorgiosaud.io logo"
class="logo"
href={translatePath("home", lang)}
>
<span>Giorgiosaud</span>
<span class="logo_accent">.io</span>
</a>
<style>
  .logo {
    --default-font-family: 'Roboto Mono';
    font-family: var(
      --default-font-family,
      ui-sans-serif,
      system-ui,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji"
    );
    text-wrap-mode: nowrap;
    color: light-dark(var(--color-dark), var(--color-light));
    text-decoration: none;
    display: flex;
    font-weight: 800;

    .logo_accent {
      color: var(--color-main);
    }
  }
</style>
