<nav aria-label="Logo Navigation" class="md:pb-6">
  <a href="/" aria-label="Company Home">
    <span class="font-bold text-slate-800">Giorgiosaud</span>
    <span class="text-slate-500">.io</span>
  </a>
</nav>
