---
import Container from "@components/container.astro";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@i18n/utils";
import type { MenuItemsInterface } from "@components/definitions/MenuItemsInterface";
import Navigation from "./navigation.astro";
import LogoNavigation from "./logo-navigation.astro";
import HamburgerIcon from "./hamburger-icon.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const {translatePath} = useTranslatedPath(lang);
interface Props{
  translateActualPath?:string
}
const {translateActualPath} = Astro.props
const menuItems: MenuItemsInterface[] = [
  {
    title: t("nav.about"),
    badge: true,
    path: translatePath("about", lang),
  },
  {
    title: t("nav.title"),
    path: translatePath("/notebook", lang),
  },
  {
    title: t("nav.contact"),
    path: translatePath("/contact", lang),
  },
  
  ];
  if(lang==='es'){
    menuItems.push({
      title: "English",
      path: translateActualPath?translateActualPath:"/",
  });
    
  }else{
    menuItems.push({
      title: "Español",
      path: translateActualPath?translateActualPath:"/es",
  });
  }

---

<div class="sticky top-0 z-50 bg-slate-100 py-5 opacity-85">
  <Container>
    <div id="menu" class="flex flex-row md:flex-col w-full justify-between md:justify-center items-center transition-all duration-300 ease-in-out group">
      <LogoNavigation/>
      <button class="max-w-8 md:hidden" id="hamburger-menu">
        <HamburgerIcon />
      </button>
      <Navigation menuItems={menuItems}/>
    </div>
</Container>
</div>
<script>
const Menu = document.getElementById("menu");
Menu?.addEventListener("click",()=>{
  Menu.classList.toggle("opened");
});
</script>