---
import type { MenuItemsInterface } from '@components/definitions/MenuItemsInterface'

interface Props{
  menuItems:MenuItemsInterface[]
}
const {menuItems} = Astro.props
console.log(menuItems)
---
<nav aria-label="Main Navigation" class="flex md:w-full md:justify-center md:align-middle md:items-center max-md:fixed max-md:top-0 max-md:left-0 max-md:z-40 max-md:h-screen max-md:p-4 max-md:overflow-y-auto max-md:transition-transform max-md:bg-white w-64 max-md:dark:bg-gray-80 group-[:not(.opened)]:max-md:-translate-x-full" >
  <!--max-md:-translate-x-full -->
  <ul role="menubar" class="flex flex-col md:flex-row gap-5 w-full pt-10 md:pt-0 md:justify-center">
    {menuItems.map(menuEl=>(
      <li role="none"><a role="menuitem" class="w-full" href={menuEl.path}>
        <span>
          {menuEl.title}
        </span>
        {menuEl.badge && (
          <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
            New
          </span>
        )}
      </a>
    </li>
    ))}
  </ul>
</nav>
