---
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils"

const lang = getLangFromUrl(Astro.url);
const { translatePath } = useTranslatedPath(lang);
const t = useTranslations(lang);
---
<div class="container mx-auto mt-10 mb-20 flex flex-col items-center justify-center">
    <h2 class="text-3xl text-center">{t('badges.title')}</h2>
    <div class="grid grid-cols-3 gap-10">
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="ae35ce77-751c-4118-9e15-024dcc3a10e6" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="ae35ce77-751c-4118-9e15-024dcc3a10e6" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="https://g.dev/giorgiosaud"></script>
    </div>
</div>