---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Front end Tools/Frameworks",
    description:
      "Although I have a deep appreciation for vanilla JavaScript, I will provide comparisons of various frontend frameworks I've used, from the elegant to the less appealing.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Code Design patterns",
    description:
      "I will simplify and explain various design patterns and issues I've resolved in my roles as a Frontend Developer, Architect, and Solution Architect.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Code Snippets",
    description:
      "I'll share useful gists and code snippets, including GitHub calls, to simplify both your life and mine, saving time and money in the process.",
    icon: "bx:bxs-data",
  },
  {
    title: "Integration issues",
    description:
      "I'll address common issues I've encountered while integrating various systems and libraries, providing solutions and insights.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Things",
    description:
      "We will be explaining some basic technical SEO implementations an dismitifyng some old SEO techniques with a touch of reality but knowing the obscure side of the SEO moon",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "My main idea is to make a community that helps each other to resolve some issues or just to share some knowledge, so i will try to make some posts about how to make a community and how to make it grow.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Topics to talk in this notebook</h2>
  <p class="text-lg mt-4 text-slate-600">
    All the topics related with web development like frontend or backend frameworks, pretending to be the most agnostic and imparcial as possible.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
