---
import OnePassword from "@icons/1Password.astro";
import Algolia from "@icons/Algolia.svg";
import AMP from "@icons/AMP.svg";
import Android from "@icons/Android.svg";
import Angular from "@icons/Angular.svg";
import API from "@icons/API.astro";
import Apidog from "@icons/Apidog.svg";
import Apple from "@icons/Apple.astro";
import AstroIcon from "@icons/AstroIcon.astro";
import Atlassian from "@icons/Atlassian.svg";
import Atom from "@icons/Atom.svg";
import Auth0 from "@icons/Auth0.svg";
import Authy from "@icons/Authy.svg";
import AWS from "@icons/AWS.astro";
import Bash from "@icons/Bash.astro";
import Bootstrap from "@icons/Bootstrap.svg";
import Bun from "@icons/Bun.svg";
import Calendly from "@icons/Calendly.svg";
import Canva from "@icons/Canva.svg";
import ChadUI from "@icons/ChadUI.astro";
import ChakraUI from "@icons/ChakraUI.svg";
import Chartjs from "@icons/Chartjs.svg";
import Cloudflare from "@icons/Cloudflare.svg";
import CloudflareWorkers from "@icons/CloudflareWorkers.svg";
import Cloudinary from "@icons/Cloudinary.svg";
import Codesandbox from "@icons/Codesandbox.svg";
import Community from "@icons/Community.astro";
import Coursera from "@icons/Coursera.svg";
import CSS from "@icons/CSS.svg";
import CSSOld from "@icons/CSSOld.svg";
import Cypress from "@icons/Cypress.svg";
import DaisyUI from "@icons/DaisyUI.svg";
import Deno from "@icons/Deno.astro";
import Directus from "@icons/Directus.svg";
import Dotenvx from "@icons/Dotenvx.svg";
import Drizzle from "@icons/Drizzle.astro";
import Expo from "@icons/Expo.svg";
import Figma from "@icons/Figma.svg";
import Firebase from "@icons/Firebase.svg";
import Flowbite from "@icons/Flowbite.svg";
import Flutter from "@icons/Flutter.svg";
import Frameworks from "@icons/Frameworks.astro";
import Gimp from "@icons/Gimp.svg";
import Git from "@icons/Git.svg";
import GitHub from "@icons/GitHub.astro";
import GithubCopilot from "@icons/GithubCopilot.astro";
import Globe from "@icons/Globe.astro";
import Graphql from "@icons/Graphql.astro";
import Heroku from "@icons/Heroku.svg";
import Homebrew from "@icons/Homebrew.svg";
import HTML5 from "@icons/HTML5.svg";
import Illustrator from "@icons/Illustrator.svg";
import Integration from "@icons/Integration/index.astro";
import Intellijidea from "@icons/Intellijidea.svg";
import Java from "@icons/Java.svg";
import Javascript from "@icons/Javascript.svg";
import Jest from "@icons/Jest.svg";
import JSON from "@icons/JSON.svg";
import JsonSchema from "@icons/JsonSchema.svg";
import JWT from "@icons/JWT.svg";
import jQuery from "@icons/jQuery.astro";
import Keycloak from "@icons/Keycloak.svg";
import Kotlin from "@icons/Kotlin.svg";
import Laravel from "@icons/Laravel.svg";
import Lit from "@icons/Lit.svg";
import Mariadb from "@icons/Mariadb.svg";
import Markdown from "@icons/Markdown.astro";
import MercadoPago from "@icons/MercadoPago.svg";
import Modyo from "@icons/Modyo.astro";
import Mongodb from "@icons/Mongodb.svg";
import Mysql from "@icons/Mysql.svg";
import Neovim from "@icons/Neovim.svg";
import Ngrok from "@icons/Ngrok.astro";
import Nodejs from "@icons/Nodejs.svg";
import Note from "@icons/Note.astro";
import Notion from "@icons/Notion.svg";
import Npm from "@icons/Npm.svg";
import Nx from "@icons/Nx.astro";
import Patterns from "@icons/Patterns.astro";
import Photoshop from "@icons/Photoshop.svg";
import Php from "@icons/Php.astro";
import Pinia from "@icons/Pinia.svg";
import Platzi from "@icons/Platzi.svg";
import Playwright from "@icons/Playwright.svg";
import Pnpm from "@icons/Pnpm.astro";
import Postman from "@icons/Postman.svg";
import Preact from "@icons/Preact.svg";
import Prettier from "@icons/Prettier.astro";
import React from "@icons/React.astro";
import ReactQuery from "@icons/ReactQuery.svg";
import ReactRouter from "@icons/ReactRouter.svg";
import Redis from "@icons/Redis.svg";
import Redux from "@icons/Redux.svg";
import SASS from "@icons/SASS.svg";
import Sanity from "@icons/Sanity.svg";
import Shopify from "@icons/Shopify.astro";
import Sketch from "@icons/Sketch.astro";
import Slack from "@icons/Slack.svg";
import Spring from "@icons/Spring.svg";
import Sqlite from "@icons/Sqlite.svg";
import Storybook from "@icons/Storybook.svg";
import Styledcomponents from "@icons/Styledcomponents.svg";
import Supabase from "@icons/Supabase.svg";
import SVG from "@icons/SVG.svg";
import Svelte from "@icons/Svelte.svg";
import Swagger from "@icons/Swagger.svg";
import Swift from "@icons/Swift.svg";
import TailwindCss from "@icons/TailwindCss.astro";
import Tanstack from "@icons/Tanstack.svg";
import Tensorflow from "@icons/Tensorflow.svg";
import ThreeJS from "@icons/ThreeJS.astro";
import Turso from "@icons/Turso.astro";
import Typeorm from "@icons/Typeorm.svg";
import Typescript from "@icons/Typescript.svg";
import Udemy from "@icons/Udemy.astro";
import USA from "@icons/USA.svg";
import Venezuela from "@icons/Venezuela.svg";
import Vercel from "@icons/Vercel.astro";
import VIM from "@icons/VIM.svg";
import Vitest from "@icons/Vitest.svg";
import VSCode from "@icons/VSCode.svg";
import Vue from "@icons/Vue.svg";
import Webcomponents from "@icons/Webcomponents.svg";
import Webdev from "@icons/Webdev.svg";
import Webstorm from "@icons/Webstorm.svg";
import Wordpress from "@icons/Wordpress.svg";
import Zod from "@icons/Zod.svg";

interface Icon {
	[key: string]: any;
}
const Icons: Icon = {
	API,
	jQuery,
	Community,
	Php,
	Pnpm,
	Markdown,
	ThreeJS,
	Udemy,
	Frameworks,
	Prettier,
	ChadUI,
	Ngrok,
	Nx,
	GithubCopilot,
	Angular,
	GitHub,
	Globe,
	Integration,
	Note,
	Patterns,
	React,
	Vue,
	Svelte,
	Preact,
	AstroIcon,
	Webcomponents,
	TailwindCss,
	Laravel,
	Spring,
	Vercel,
	Cloudflare,
	Cloudinary,
	Keycloak,
	Directus,
	Sanity,
	Shopify,
	Wordpress,
	Mysql,
	Modyo,
	Mariadb,
	Mongodb,
	Redis,
	Sqlite,
	Supabase,
	Typeorm,
	Drizzle,
	Turso,
	Canva,
	Photoshop,
	Figma,
	Gimp,
	Illustrator,
	Sketch,
	SVG,
	Zod,
	OnePassword,
	Algolia,
	AMP,
	Android,
	Apidog,
	Atlassian,
	Atom,
	Auth0,
	Authy,
	Bootstrap,
	Bun,
	Calendly,
	ChakraUI,
	Chartjs,
	CloudflareWorkers,
	Codesandbox,
	Coursera,
	CSS,
	CSSOld,
	Cypress,
	DaisyUI,
	Dotenvx,
	Expo,
	Firebase,
	Flowbite,
	Flutter,
	Git,
	Graphql,
	Heroku,
	Homebrew,
	HTML5,
	Intellijidea,
	Java,
	Javascript,
	Jest,
	JSON,
	JsonSchema,
	JWT,
	Kotlin,
	Lit,
	MercadoPago,
	Neovim,
	Nodejs,
	Notion,
	Npm,
	Pinia,
	Platzi,
	Bash,
	Deno,
	Playwright,
	Postman,
	ReactQuery,
	ReactRouter,
	Redux,
	SASS,
	Slack,
	Storybook,
	Styledcomponents,
	Swagger,
	Swift,
	Tanstack,
	Tensorflow,
	Typescript,
	VIM,
	Vitest,
	VSCode,
	Webdev,
	AWS,
	Apple,
	Webstorm,
	Venezuela,
	USA,
};
export interface Props {
	name: keyof typeof Icons;
}
const { name } = Astro.props;
const IconInstance = Icons[name];
---
{ IconInstance?
    (<IconInstance />):
    <p>Icon {name} not found</p>
}
