---
import Note from "@icons/Note.astro"
import Frameworks from "@icons/Frameworks.astro"
import Patterns from "@icons/Patterns.astro"
import API from "@icons/API.astro"
import Community from "@icons/Community.astro"
import Integration from "@icons/Integration/index.astro"
import Globe from "@icons/Globe.astro"
import Vue from "@icons/Vue.svg";
import React from "@icons/React.astro";
import Preact from "@icons/Preact.svg";
import Svelte from "@icons/Svelte.svg";
import Venezuela from "@icons/Venezuela.svg";
import USA from "@icons/USA.svg";
import AstroIcon from "@icons/AstroIcon.astro";
import TailwindCss from "@icons/TailwindCss.astro"
import Webcomponents from "@icons/Webcomponents.svg"
import Laravel from "@icons/Laravel.svg"
import Angular from "@icons/Angular.svg"
import Spring from "@icons/Spring.svg"
import Vercel from "@icons/Vercel.astro"
import Cloudflare from "@icons/Cloudflare.svg"
import Cloudinary from "@icons/Cloudinary.svg"
import Keycloak from "@icons/Keycloak.svg"
import Wordpress from "@icons/Wordpress.svg"
import Sanity from "@icons/Sanity.svg"
import Directus from "@icons/Directus.svg"
import Shopify from "@icons/Shopify.astro"
import Modyo from "@icons/Modyo.astro"
import Mysql from "@icons/Mysql.svg"
import Mariadb from "@icons/Mariadb.svg"
import Mongodb from "@icons/Mongodb.svg"
import Redis from "@icons/Redis.svg"
import Sqlite from "@icons/Sqlite.svg"
import Supabase from "@icons/Supabase.svg"
import Drizzle from "@icons/Drizzle.astro"
import Typeorm from "@icons/Typeorm.svg"
import Turso from "@icons/Turso.astro"
import Photoshop from "@icons/Photoshop.svg";
import Figma from "@icons/Figma.svg";
import Gimp from "@icons/Gimp.svg";
import Illustrator from "@icons/Illustrator.svg";
import SVG from "@icons/SVG.svg";
import Canva from "@icons/Canva.svg";
import Sketch from "@icons/Sketch.astro";
import Zod from "@icons/Zod.svg";
import Algolia from "@icons/Algolia.svg";
import AMP from "@icons/AMP.svg";
import Android from "@icons/Android.svg";
import Apidog from "@icons/Apidog.svg";
import Atlassian from "@icons/Atlassian.svg";
import Atom from "@icons/Atom.svg";
import Auth0 from "@icons/Auth0.svg";
import Authy from "@icons/Authy.svg";
import Bootstrap from "@icons/Bootstrap.svg";
import Bun from "@icons/Bun.svg";
import Calendly from "@icons/Calendly.svg";
import ChakraUI from "@icons/ChakraUI.svg";
import Chartjs from "@icons/Chartjs.svg";
import CloudflareWorkers from "@icons/CloudflareWorkers.svg";
import Codesandbox from "@icons/Codesandbox.svg";
import Coursera from "@icons/Coursera.svg";
import CSS from "@icons/CSS.svg";
import CSSOld from "@icons/CSSOld.svg";
import Cypress from "@icons/Cypress.svg";
import DaisyUI from "@icons/DaisyUI.svg";
import Dotenvx from "@icons/Dotenvx.svg";
import Expo from "@icons/Expo.svg";
import Firebase from "@icons/Firebase.svg";
import Flowbite from "@icons/Flowbite.svg";
import Flutter from "@icons/Flutter.svg";
import Git from "@icons/Git.svg";
import Graphql from "@icons/Graphql.astro";
import Heroku from "@icons/Heroku.svg";
import Homebrew from "@icons/Homebrew.svg";
import HTML5 from "@icons/HTML5.svg";
import Intellijidea from "@icons/Intellijidea.svg";
import Java from "@icons/Java.svg";
import Javascript from "@icons/Javascript.svg";
import Jest from "@icons/Jest.svg";
import JSON from "@icons/JSON.svg";
import JsonSchema from "@icons/JsonSchema.svg";
import JWT from "@icons/JWT.svg";
import Kotlin from "@icons/Kotlin.svg";
import Lit from "@icons/Lit.svg";
import MercadoPago from "@icons/MercadoPago.svg";
import Neovim from "@icons/Neovim.svg";
import Nodejs from "@icons/Nodejs.svg";
import Notion from "@icons/Notion.svg";
import Npm from "@icons/Npm.svg";
import Pinia from "@icons/Pinia.svg";
import Platzi from "@icons/Platzi.svg";
import Playwright from "@icons/Playwright.svg";
import Postman from "@icons/Postman.svg";
import ReactQuery from "@icons/ReactQuery.svg";
import ReactRouter from "@icons/ReactRouter.svg";
import Redux from "@icons/Redux.svg";
import SASS from "@icons/SASS.svg";
import Slack from "@icons/Slack.svg";
import Storybook from "@icons/Storybook.svg";
import Styledcomponents from "@icons/Styledcomponents.svg";
import Swagger from "@icons/Swagger.svg";
import Swift from "@icons/Swift.svg";
import Tanstack from "@icons/Tanstack.svg";
import Tensorflow from "@icons/Tensorflow.svg";
import Typescript from "@icons/Typescript.svg";
import VIM from "@icons/VIM.svg";
import Vitest from "@icons/Vitest.svg";
import VSCode from "@icons/VSCode.svg";
import Webdev from "@icons/Webdev.svg";
import Webstorm from "@icons/Webstorm.svg";
import OnePassword from '@icons/1Password.astro'
import AWS from '@icons/AWS.astro'
import Apple from '@icons/Apple.astro'
import Bash from '@icons/Bash.astro'
import Deno from '@icons/Deno.astro'
import GithubCopilot from '@icons/GithubCopilot.astro';
import GitHub from '@icons/GitHub.astro';
import jQuery from '@icons/jQuery.astro';
import Markdown from '@icons/Markdown.astro';
import Ngrok from '@icons/Ngrok.astro';
import Nx from '@icons/Nx.astro';
import Php from '@icons/Php.astro';
import Pnpm from '@icons/Pnpm.astro';
import Prettier from '@icons/Prettier.astro';
import ChadUI from '@icons/ChadUI.astro';
import ThreeJS from '@icons/ThreeJS.astro';
import Udemy from '@icons/Udemy.astro';

interface Icon{
    [key:string]:any
}
const Icons:Icon={
    API,
    jQuery,
    Community,
    Php,
    Pnpm,
    Markdown,
    ThreeJS,
    Udemy,
    Frameworks,
    Prettier,
    ChadUI,
    Ngrok,
    Nx,
    GithubCopilot,
    Angular,
    GitHub,
    Globe,
    Integration,
    Note,
    Patterns,
    React,
    Vue,
    Svelte,
    Preact,
    AstroIcon,
    Webcomponents,
    TailwindCss,
    Laravel,
    Spring,
    Vercel,
    Cloudflare,
    Cloudinary,
    Keycloak,
    Directus,
    Sanity,
    Shopify,
    Wordpress,
    Mysql,
    Modyo,
    Mariadb,
    Mongodb,
    Redis,
    Sqlite,
    Supabase,
    Typeorm,
    Drizzle,
    Turso,
    Canva,
    Photoshop,
    Figma,
    Gimp,
    Illustrator,
    Sketch,
    SVG,
    Zod,
    OnePassword,
    Algolia,
    AMP,
    Android,
    Apidog,
    Atlassian,
    Atom,
    Auth0,
    Authy,
    Bootstrap,
    Bun,
    Calendly,
    ChakraUI,
    Chartjs,
    CloudflareWorkers,
    Codesandbox,
    Coursera,
    CSS,
    CSSOld,
    Cypress,
    DaisyUI,
    Dotenvx,
    Expo,
    Firebase,
    Flowbite,
    Flutter,
    Git,
    Graphql,
    Heroku,
    Homebrew,
    HTML5,
    Intellijidea,
    Java,
    Javascript,
    Jest,
    JSON,
    JsonSchema,
    JWT,
    Kotlin,
    Lit,
    MercadoPago,
    Neovim,
    Nodejs,
    Notion,
    Npm,
    Pinia,
    Platzi,
    Bash,
    Deno,
    Playwright,
    Postman,
    ReactQuery,
    ReactRouter,
    Redux,
    SASS,
    Slack,
    Storybook,
    Styledcomponents,
    Swagger,
    Swift,
    Tanstack,
    Tensorflow,
    Typescript,
    VIM,
    Vitest,
    VSCode,
    Webdev,
    AWS,
    Apple,
    Webstorm,
    Venezuela,
    USA,
}
export interface Props{
    name:keyof typeof Icons;
}
const {name}=Astro.props;
const IconInstance=Icons[name];
---
{ IconInstance?
    (<IconInstance />):
    <p>Icon {name} not found</p>
}
