---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-600 text-2xl">Some technologies that i had used before:</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="text-[#61DAFB] h-8 md:h-12" name="simple-icons:react" title="react"/>
    <Icon class="text-[#4FC08D] h-8 md:h-12" name="simple-icons:vuedotjs" title="vue.js" />
    <Icon class="text-[#673AB8] h-8 md:h-12" name="simple-icons:preact" title="preact" />
    <Icon class="h-8 md:h-12 text-[#BC52EE]" name="simple-icons:astro" title="astro" />
    <Icon class="h-8 md:h-12" name="simple-icons:webcomponentsdotorg" title="webcomponents.org" />
    <Icon class="h-8 md:h-12 text-[#29ABE2]" name="simple-icons:svelte" title="svelte" />
    <Icon class="h-8 md:h-14 text-[#06B6D4]" name="simple-icons:tailwindcss" title="tailwindcss" />
    <Icon class="h-8 md:h-16 text-[#FF2D20]" name="simple-icons:laravel" title="laravel" />
    <Icon class="h-8 md:h-16 text-[#6DB33F]" name="simple-icons:springboot" title="springboot" />
    <Icon class="h-8 md:h-12 text-black" name="simple-icons:vercel" title="vercel" />
    <Icon class="h-8 md:h-12 text-[#F38020]" name="simple-icons:cloudflare" title="cloudflare" />

  </div>
</div>
