---
import { getCollection } from 'astro:content'
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import Note from './Note.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
interface Props {
  collection: 'collections' | 'colecciones'
  notes: 'notes' | 'notas'
}
const { collection, notes } = Astro.props
const collections = await getCollection(collection)
const fullNotes = await getCollection(notes)
---



<h2>
    {t('notes.collections.title')}
</h2>
<hr />
{
    collections.map((collection) => (
    <details>
        <summary>
            {collection.data.title} {collection.data.icon}
        </summary>
        <ul>
            {
                fullNotes
                .filter(note =>{
                    return note.data.collections.map(col=>col.id).some(id=>id===collection.id)
                })
                .map((note) => (
                <li>
                    <Note note={note} context={`collection-${collection.id}`} />
                </li>
                ))
            }
        </ul>
    </details>
    ))
}
<style>
    *{
        interpolate-size: allow-keywords;
    }
  ul{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)));
    gap:1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    
    li{
      width: 170px;
      scroll-snap-align: center;
      scroll-snap-stop: always;
    }
  }
  
  h2{
    margin-bottom: 1rem;
  }
    h3{
        display: inline-block;
    }
    
    details {
        background: var(--color-main);
        color: var(--color-light);
        border: 1px solid light-dark(var(--color-light), var(--color-dark));
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
    }
    summary::marker {
        font-size: 0.75em;
    }
    summary{
        color: light-dark(var(--color-light), var(--color-dark));
        padding-block: 0.5rem;
    }
    details::details-content{
        --border-radius:10px;
        padding-block-end: 0.5rem;
    }

    
</style>