---
import { getCollection } from 'astro:content'
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import NoteCardSticky from './NoteCardSticky.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
interface Props {
  collection: 'notes' | 'notas'
}
const { collection } = Astro.props

const notes = (await getCollection(collection))
  .filter(note => !note.data.draft)
  .sort((a, b) => (a.data.publishDate < b.data.publishDate ? 1 : -1))
  .slice(0, 3)
---

<section class="latest-notes" aria-label={t('notes.latest.title')}>
  <h2>
    {t('notes.latest.title')}
  </h2>
  <ul class="notes-grid">
    {notes.map(note => <NoteCardSticky note={note} />)}
  </ul>
</section>

<style>
  .notes-grid {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 320px));
    gap: 1.25rem;
    align-items: start;
    justify-content: center;
  }

  h2 {
    margin-bottom: 1.5rem;
  }
</style>
