<footer class="full-width">
  <p>
    Copyleft © {new Date().getFullYear()} Giorgiosaud.io... None rights reserved.
  </p>
</footer>

<style>
  footer {
    margin-top: 1lh;
    text-align: center;
    background: light-dark(var(--color-light),var(--color-dark));
    padding: calc(var(--spacing) * 2) 0;
    p {
      --_font-size: var(--font-size, clamp(.4rem, .6cqw, 1rem));
      font-size: var(--_font-size);
    }
  }
</style>
