<footer class="full-width">
  <p>
    Copyleft © {new Date().getFullYear()} Giorgiosaud.io... None rights reserved.
  </p>
</footer>

<style>
  footer {
    margin-top: 1lh;
    text-align: center;
    background: light-dark(var(--color-light),var(--color-dark));
    padding: calc(var(--spacing) * 2) 0;
    p {
      font-size: calc(var(--font-size) * 0.8);
    }
  }
</style>
