
---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import CloudinaryImage from "@components/ui/cloudinaryImage.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Acerca de mi">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Acerca de mi</Fragment>
      <Fragment slot="desc">
        Un arquitecto de soluciones experimentado que comparte conocimientos prácticos y soluciones de desarrollo web para desarrolladores, desde principiantes hasta expertos.      
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Acerca de este blog
        </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        
        Bienvemodo a mi blog de recursos de desarrollo! Este espacio sirve como un cuaderno de notas de acceso público donde documento y comparto diversas ideas y soluciones relacionadas con el desarrollo web.
      </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">  
      <h2 class="font-bold text-3xl text-gray-800">
        ¿Por qué este blog?
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Como arquitecto de soluciones, a menudo me encuentro explicando conceptos y soluciones complejas a los desarrolladores. Me di cuenta de la necesidad de una única fuente de verdad para agilizar estas explicaciones y garantizar la consistencia. Este blog nació de esa necesidad, con el objetivo de simplificar los desafíos recurrentes a los que se enfrentan los desarrolladores e integradores.
      </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        ¿Que encontrarás aquí?
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Este blog se centra principalmente en:
        <ul class="text-lg leading-relaxed text-slate-500">
          <li><strong>
            Problemas comunes y soluciones:</strong> Abordar problemas frecuentes encontrados por los integradores en una arquitectura desacoplada.
          </li>
          <li>
            <strong> Ejemplos de frameworks:</strong> Ejemplos prácticos y mejores prácticas que involucran varios frameworks.
          </li>
          <li>
            <strong> Experiencias personales:</strong> Ideas y lecciones aprendidas de mi trayectoria profesional.
          </li>
        </ul>
      </p>
    </div>   
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">  
      <h2 class="font-bold text-3xl text-gray-800">
        ¿Para quién es esta página?
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Este cuaderno está diseñado para desarrolladores en todas las etapas de su viaje, desde principiantes hasta profesionales experimentados ("0 a héroe" como dicen en inglés). Ya sea que estés comenzando o buscando mejorar tus habilidades, encontrarás recursos e ideas valiosas aquí para ayudarte a navegar por las complejidades del desarrollo web.
      </p>
    </div>  
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">  
      <h2 class="font-bold text-3xl text-gray-800">
        Mi experiencia
      </h2>

   
      <p class="text-lg leading-relaxed text-slate-500 content">
        <CloudinaryImage 
        height={300}
        src='My photo'
        alt="my photo"
        type="portrait"
        aspectRatio="1"
        class="float-start me-3 rounded-xl"/>
        Soy ingeniero industrial con una amplia experiencia profesional, que incluye ventas, logística y como tasador de bienes raíces. A pesar de mi variada carrera, siempre he sido apasionado por el mundo de la programación. Mi amplia experiencia en arquitectura monolítica y desacoplada, que abarca más de 15 años, me permite proporcionar soluciones prácticas y del mundo real a los desafíos que enfrentan los desarrolladores.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Incluso cuando trabajaba en otros campos, a menudo me encontraba implementando funciones de programación para resolver problemas, ya sea en tasaciones o logística. Esta combinación de experiencias enriquece el contenido que comparto en este blog.
      </p>
    </div>  
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">  
      <h2 class="font-bold text-3xl text-gray-800">
        Mis metas y aspiraciones
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        El objetivo principal de este blog es ser un cuaderno para cualquier desarrollador que busque explicar conceptos complicados de desarrollo web en términos simples. Además, mi objetivo es obtener algún ingreso por hacer esto ;).
      </p>
      
    </div>  
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">  
      <h2 class="font-bold text-3xl text-gray-800">
        Un compromiso con el aprendizaje
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Creo firmemente que un día sin aprender es un día perdido. Esta filosofía me impulsa a buscar continuamente nuevos conocimientos y compartir lo que aprendo con los demás. Espero que este blog refleje ese compromiso e inspire a otros a seguir aprendiendo también.
      </p>
    </div>  
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">  
      <h2 class="font-bold text-3xl text-gray-800">
        Únete al viaje
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Te invito a explorar, aprender y participar con el contenido aquí. Juntos, podemos abordar los desafíos del desarrollo web y crear soluciones robustas y eficientes.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        ¡Gracias por visitar!
      </p>
    </div>  
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
        <div class="group">
          <div class="w-full aspect-square">
            <CloudinaryImage
            src={teamMemberEntry.data.avatar.src}
            alt={teamMemberEntry.data.avatar.alt}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
            />
          </div>
          
          <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
            <h3 class="text-sm text-slate-500">
              {teamMemberEntry.data.title}
            </h3>
          </div>
        </div>
        ))
      }
    </div>
  </Container>
</Layout>
