---
import Badges from '@components/Badges/index.astro'
import Features from '@components/Features/index.astro'
import Hero from '@components/Hero.astro'
import Logos from '@components/Logos.astro'
import NotesLatest from '@components/NotesLatest.astro'
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import Base from '@templates/Base.astro'

const lang = getLangFromUrl(Astro.url)

const t = useTranslations(lang)
---

<Base pathToTranslate="home">
  <Hero description={t("hero.description")} title={t("hero.title")} />
  <Features />
  <NotesLatest collection="notas" />
  <Badges title={t("badges.title")} readMore={t("badges.readMore")} />
  <section class="full-width">
    <h3>
      {t("cta.description")}
    </h3>
  </section>
  <style>
    section {
      text-align: center;
      background-image: radial-gradient(
        circle,
        var(--color-main) 10%,
        var(--color-light) 100%
      );
    }
    h3 {
      padding: 8rem 0;
      color: var(--color-light);
    }
  </style>
  <Logos />
</Base>
